/*全局部分*/	

*{
    margin: 0 auto;
    padding: 0;
}

body{
    /*background-color: #e99e99;*/
    background-color: #000000;
    color: #ffffff;
    font-family: "微软雅黑";
    min-width: 700px;
}



 
 /*导航部分从这里开始*/

#topnav{              
    height: 50px;
    width: 100%;
    background-color:#24D197;
}

#topnav ul{
    width: 500px;
    list-style: none;
    float: right;
    margin-right: 30px;
} 

#topnav li a{
    padding: 0 5px;
    display: block;
    text-decoration: none;
    text-align: center;
    float: right;
    width: 90px;
    line-height: 50px;
    color: #ffffff;
    font-weight: bold;
    text-indent: 2px;
}

.navlist a:hover{
    background-color: #000000;
}

.logo{
    width: 50px;
    height: 50px;
    float: left;
    line-height: 50px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

nav a,h2 a{
    text-decoration: none;
    color: #ffffff;
}




/*右侧侧栏部分从这里开始*/

#sidebar{
    float: right;
    width: 350px;
    height: 100%;
    border: 1px solid #24D197;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
}

#sidebar h3{
    border-left: 3px solid #ffffff;
    padding: 8px;
    text-align: center;
    margin: 5px;
}

#sidebar .tdright{
    text-align: right;
}

.prompt{
    font-size: 13px;
    color: #eeeeee;
}

#sidebar td{
    padding: 8px;
}

#sidebar .tdtop{
    vertical-align: top;
}

textarea{
    height: 100px;
}

#confirm{
    margin:20px 35px;
    width:80%;
    height:100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #24D197; 
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    border-style: none;
}
    



/*左侧主体部分从这里开始*/

#main article{
    padding: 20px;
}

.part1 img,.part2 img{   /*图片自适应浏览器窗口缩放*/ 
    width: 60%;     
}

*[class^="part"]{
    margin: 20px 420px 20px 20px;
    border: 1px solid #24D197;
}

#main dl{
    float:left;
    border: 1px solid #ffffff;
    margin:20px 15px 20px 35px; 
}

#main dt{
    display: inline;
    padding: 18px;
}

#main dd{
    text-align: center;
}

#main dd img{

    width: 80px;
    height: 80px; 
    margin: 10px;
}

.pic-clear{
    clear: both;
}

.table1{
    width: 100%;
    border: 1px solid #24D197;
    border-collapse: collapse;
    margin-bottom: 40px;
    color: #000000;
    background-color: #eeeeee;
}

.table1 th,td{
    padding: 3px;
}

#main .part2 ul,.part4 ol{
    margin: 20px;
}




 /*底部版权部分从这里开始*/
      
footer{                      
    height: 40px;
    width: 100%;
    background-color:#24D197;
}

#foot{
    font-size: 15px;
    line-height: 40px;
    text-align: center;
}
      